@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/FuturaPT-Bold.woff") format("woff"), 
    url("../fonts/FuturaPT-Bold.woff2") format("woff2"); 
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/FuturaPT-Book.woff") format("woff"), 
    url("../fonts/FuturaPT-Book.woff2") format("woff2"); 
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/FuturaPT-Light.woff") format("woff"), 
    url("../fonts/FuturaPT-Light.woff2") format("woff2"); 
}

@font-face {
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/FuturaPT-Medium.woff") format('woff'), 
    url("../fonts/FuturaPT-Medium.woff2") format("woff2"); 
}

*{
    box-sizing: border-box;
}
body{
    font-family: "FuturaPT";
    background-image: url("./pictures/bg.png");
}
img{
    display: block;
}
.visual-hidden{
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    clip-path: rect(0 0 0 0 );
}
.container{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
body{
    overflow-x: hidden;
}
.header-start{
    display: flex;
    /* width: 985px; */
}
.location-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.location-link{
    text-decoration-line: none;
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
    margin-right: 128px;
}
.location-item::before{
    position: absolute;
    width: 14px;
    height: 13px;
    top: calc(50% - 7px) ;
    right:calc(50% + 190px);
    background-image: url("./pictures/Vector\ \(1\).svg");
    content: "";
    align-items: center;
}
.phone-list{
    position: relative;
    display: flex;
    list-style: none;
    margin-right: 119px;
}
.phone-link:hover{
    color: #FFBD54;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
}
.phone-link:active{
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}
.phone-link{
    margin-right: 22px;
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: none;
}
.phone-list::before{
    position: absolute;
    width: 13px;
    height: 13px;
    top: calc(50% - 7px) ;
    left: calc(50% - 200px);
    background-image: url("./pictures/Vector\ \(4\)\ \(1\).svg");
    content: "";
}
.phone-icon::before{
    position: absolute;
    width: 4px;
    height: 4px;
    top: calc(50% - 4px);
    left: calc(50% + 70px);
    background-image: url("./pictures/Ellipse\ 6\ \(1\).svg");
    content: "";
}
.phone-icons::before{
    position: absolute;
    width: 4px;
    height: 4px;
    top: calc(50% - 4px);
    left: calc(50% - 60px);
    background-image: url("./pictures/Ellipse\ 6\ \(1\).svg");
    content: "";
}
.time-list{
    position: relative;
    display: flex;
    list-style: none;
}
.time-item{
    margin-right: 17px;
}
.time-link{
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}
.time-list::before{
    position: absolute;
    width: 14px;
    height: 14px;
    top: calc(50% - 7px) ;
    right: calc(50% + 125px);
    /* left: calc(50% - 100px); */
    background-image: url("./pictures/schedule\ \(1\).svg");
    content: "";
}
.header-list{
    /* display: flex; */
    width: 579px;
}
.header-second{
    display: flex;
}
.right{
    margin-left: 148px;
}
.hero-text{
    width: 600px;
    margin-top: 145px;
    margin-left: 735px;
}
.hero-title{
    color: #333;
    font-family: Futura PT;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 91.429% */
}
.hero-title span{
    color: #78C0DE;
    font-family: Futura PT;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.hero-desc-text{
    width: 495px;
    margin-top: 29px;
}
.hero-desc{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    margin-bottom: 38px;
}
.hero-btn{
    width: 181px;
    padding: 15px 47px 16px 48px;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}
.hero-btn:hover{
    border-radius: 3px;
    background: #FFBD54;
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.hero-btn:active{
    border-radius: 3px;
    background: #FFBD54;
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

.hero{
    position: relative;
}
.hero-title-text::before{
    position: absolute;
    width: 870px;
    height: 835px;
    top: calc(50% - 500px);
    right: calc(50% - 100px);
    background-image: url("./pictures/Group\ 60\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.hero-title-text::after{
    position: absolute;
    width: 870px;
    height: 835px;
    top:calc(50% + 120px);
    left:calc(50% + 550px);
    background-image: url("./pictures/Group\ 65\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.header-end{
    display: flex;
    padding: 20px;
}
.header-end-list{
    position: relative;
    width: 645px;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 260px;
    list-style: none;
    align-items: center;
}
/* .header-end-list::before{
    position: absolute;
    width: 177px;
    height: 86px;
    top: -35px;
    left: -380px;
    align-items: center;
    background-image: url("./pictures/logo\ \(2\)\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
    
} */
.end-logo{
    list-style: none;
    margin-left: -160px;
    margin-top: -25px;
}
.end-link{
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: none;
}
.end-second-item{
    position: relative;
}
.end-second-item::before{
    position: absolute;
    width: 20px;
    height: 14px;
    top: -2px;
    left: -30px;
    background-image: url("./pictures/active\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.header-end-list:hover::before{
    opacity: 0.8;
}
.header-end-list:active::before{
    opacity: 0.6;
}
.question-list{
    position: relative;
    margin-left: 145px;
    list-style: none;
}
.question-list::before{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -8px;
    left: 5px;
    background-image: url("./pictures/pet\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.question-link{
    color: #333;
    /* text-align: right; */
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.blockquote-title-text{
    position: relative;
    width: 753px;
    margin-top: 450px;
    text-align: center;
    margin-left: 300px;
    align-items: center;
}
.blockquote-title{
    color: #949494;
    text-align: center;
    font-family: Futura PT;
    font-size: 20px;
    font-weight: 400;
}
.blockquote-title-text::before{
    position: absolute;
    width: 148px;
    height: 78px;
    top: -30px;
    left: -100px;
    background-image: url("./pictures/quote.svg");
    background-repeat: no-repeat;
    content: "";
}
.blockquote-title-text::after{
    position: absolute;
    width: 148px;
    height: 78px;
    top: 30px;
    right: -200px;
    background-image: url("./pictures/quoteright.svg");
    background-repeat: no-repeat;
    content: "";
}
.blockquote-title::before{
    position: absolute;
    width: 148px;
    height: 78px;
    top: -43px;
    left: 300px;
    background-image: url("./pictures/Line\ 3\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.blockquote-title::after{
    position: absolute;
    width: 148px;
    height: 78px;
    bottom: -156px;
    left: 300px;
    background-image: url("./pictures/Line\ 3\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.blockquote-cite{
    color: #333;
    font-family: Futura PT;
    font-size: 20px;
    font-weight: 500;
    margin-left: 500px;
    margin-top: 120px;
}
.services-container{
    margin-top: 190px;
}
.title-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.services-title{
    color: #333;
    font-family: Futura PT;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}
/* .services-list{
    display: flex;
    list-style: none;
} */
.services-list{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.services-item{
    position: relative;
}
.services-item::before{
    position:absolute;
    width: 54px;
    height: 77px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/doctor1.svg");
    content: "";
}
.services-item:nth-child(2)::before{
    position:absolute;
    width: 61px;
    height: 76px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/filled\ outline\ \(1\).svg");
    content: "";
}
.services-item:nth-child(3)::before{
    position:absolute;
    width: 72px;
    height: 77px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/filled\ outline\ \(2\)\ \(1\).svg");
    content: "";
}
.services-item:nth-child(4)::before{
    position:absolute;
    width: 75px;
    height: 75px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/filled\ outline\ \(3\)\ \(1\).svg");
    content: "";
}
.services-item:nth-child(5)::before{
    position:absolute;
    width: 78px;
    height: 78px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/veterinary-3\ 1\ \(2\).svg");
    content: "";
}
.services-item:nth-child(6)::before{
    position:absolute;
    width: 75px;
    height: 75px;
    top: -100px;
    left: 45px;
    background-image: url("./pictures/filled\ outline\ \(4\)\ \(1\).svg");
    content: "";
}
.services-item{
    width: 126px;
    margin-top: 209px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background-color: #fff;
    border: none;
}

.services-item:hover{
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background-color: #FFF;
    opacity: 0.8;
}
.services-item:active{
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background-color: #FFF;
    opacity: 0.6;
    
}
.services-second{
    margin-top: 14px;
    border-radius: 0px 5px 5px 5px;
    background-color: #fff;
}
.services-second-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.services-second{
    display: flex;
}
.services-second-text{
    width: 492px;
    margin-left: 28px;
}
.services-second-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-family: Futura PT;
    font-size: 36px;
    font-weight: 500;
    line-height: 20px; /* 55.556% */
}
.services-second-desc{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.services-second-desc-end{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-bottom: 34px;
}
.services-first-btn{
    position: relative;
    width: 185px;
    padding: 15px 63px 16px ;
    text-decoration-line: none;
    border-radius: 3px;
    background-color: #ffbd54;
    color: #FFF;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.services-first-btn::before{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 30px;
    background-image: url("./pictures/money\ 1\ \(1\).svg");
    content: "";
}
.services-first-btn:hover{
    background-color: #333;
    border-radius: 3px;
    color: #ffbd54;
}
.services-first-btn:active{
    background-color: #333;
    border-radius: 3px;
    color: #ffbd54;
    opacity: 0.6;
}

.services-second-btn{
    position: relative;
    width: 241px;
    height: 50px;
    padding: 15px 37px 14px;
    border-radius: 3px;
    background: #333;
    color: #FFF;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: none;
}
.services-second-btn::before{
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    left: 10px;
    background-image: url("./pictures/document\ 1\ \(1\).svg");
    content: "";
}
.services-second-btn:hover{
    background-color: #ffbd54;
    border-radius: 3px;
    color:#333;
}
.services-second-btn:active{
    background-color: #333;
    border-radius: 3px;
    color: #ffbd54;
    opacity: 0.6;
}
/* .services{
    margin-bottom: 295px;
} */

/* .enterance-section{
    position: relative;
    
}
.enterance-section::before{
    position: absolute;
    width: 1440px;
    height: 481px;
    left: -60px;
    background-image: url("./pictures/second-bg.svg");
    content: "";
}
.enterance-section-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.enterance-title{
    padding: 325px ;
    /* margin-top: 325px; 
    color: #fff;
    font-family: Futura PT;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px; 
    
} */
.article-title{
    text-align: center;
    margin-top: 800px;
    margin-bottom: 80px;
    color: #333;
    font-family: Futura PT;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px; 
}
.article-list{
    width: 305px;
    height: 435px;
    border-radius: 5px;
    border: 1px solid #E4E4E2;
    list-style: none;
    display: flex;
    
}
.article-img{
    margin: 0;
    margin-left: -40px;
    margin-bottom: 21px;
}
.article-item{
    margin-right: 24px;
}
.article-time{
    padding-left: 180px;
    color: #949494;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
}
.article-title-h3{
    color: #000;
    font-family: Futura PT;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 113.636% */
    margin: 0;
    margin-left: -30px;
    padding: 0 30px;
}
.article-desc{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-left: -8px;
    padding:  0 5px;
}
.article-btn{
    position: relative;
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration-line: none;
}
.article-btn:hover{
    color: #ffbd54;
    background-color: #fff;
}
.article-btn::before{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -7px;
    left: -30px;
    background-image: url("./pictures/pet\ \(1\).svg");
    content: "";
}
.article-item-second{   
    display: flex;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    background-color: #fff;
}
.hashtag{
    display: flex;
    list-style: none;
}
.hashtag-item{
    margin-right: 8px;
}
.hashtag-link{
    text-decoration-line: none;
}
.article-text-start{
    display: flex;
    margin-top: 43px;
}
.article-item-second-time{
    margin-left: 67px;
    color: #949494;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
    padding:  0 0 0 35px;
}
.article-second-item-text{
    width: 350px;
    padding: 32px;
}
.article-second-item-desc{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin-bottom: 37px;
}
.article-thrid-item{
    margin-left: 65px;
}



.contact-right{
    width: 990px;
    height: 649px;
    background-color: #333;
    background-image: url("./pictures/Group\ 64\ \(1\).svg");
}
.contact-text{
    width: 360px;
    margin: 62px 165px;
}
.contact-title{
    color: #fff;
    font-family: Futura PT;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 14px;
}
.contact-desc{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    margin: 0;
    margin-bottom: 29px;
}
.second-form-input{
    width: 375px;
    height: 50px;
    margin: 0;
    margin-left: 165px;
    margin-bottom: 14px;
    background-color: #fff;
}
.second-form-input::placeholder{
    color: #949494;
    padding: 16px 22px 13px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
}
.second-form{
    display: flex;
    flex-direction: column;
}
.second-form-textare{
    width: 375px;
    height: 165px;
    margin-left: 165px;
    resize: none;
    background-color: #fff;
}
.second-form-textare::placeholder{
    color: #949494;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    padding: 17px 22px;
}
.second-form-btn{
    width: 226px;
    height: 50px;
    color: #fff;
    margin-left: 165px;
    margin-top: 30px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #ffbd54;
    
}
.contact-container{
    display: flex;
    justify-content: space-between;
    margin-top: 265px;
    margin-bottom: 247px;
}
.contact-left iframe{
    width: 462px;
    height: 652px;
}
.site-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-second-table{
    display: flex;
}
.second-footer-list{
    list-style: none;
}
.second-footer-link{
    text-decoration-line: none;
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.second-footer-link:hover{
    color: #ffbd54;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.second-footer-link:active{
    color: rgba(51, 51, 51, 0.70);
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}

.third-footer-list{
    list-style: none;
}
.third-footer-link{
    text-decoration-line: none;
    color: #333;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.third-footer-link:hover{
    color: #ffbd54;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}
.third-footer-link:active{
    color: rgba(51, 51, 51, 0.70);
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 500;
}


.site-first-footer{
    list-style: none;
}
.site-first-footer:hover{
    opacity: 0.8;
}
.site-first-footer:active{
    opacity: 0.6;
}
.footer-time-list{
    list-style: none;
}
.footer-time-link{
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
    text-decoration-line: none;
}
.footer-start{
    display: flex;
}
/* .footer-location-list{
    width: 157px;
    margin-left: 137px;
} */
.footer-phone-list{
    display: flex;
    flex-direction: column;
}
.footer-list{
    position: relative;
    list-style: none;
}
.footer-list::before{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 5px;
    right: 120px;
    background-image: url("./pictures/Vector\ \(4\)\ \(1\).svg");
    background-repeat: no-repeat;
    content: "";
}
.footer-link{
    text-decoration-line: none;
    color: #333;
    text-align: right;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 500;
}
.footer-location-list{
    margin-left: 50px;
}
.footer-start{
    position: relative;
}
.footer-start::before{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 15px;
    background-image: url("./pictures/schedule\ \(1\).svg");
    background-repeat: no-repeat;
    content:"";
}